@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /*background-image: linear-gradient(135deg, rgb(227, 227, 227), rgb(160, 160, 160));*/
  background-color: rgb(207, 207, 207);
} 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root{
  --vermelho:#400500;
  --branco: #FFF;
  --bege: #CEF2F2;
  --preto: #000;
  --vermelho-claro: #F2220F;
  --amarelo: #FFE500;
  --vermelho-padrao: #fd4a4a;
  --cinza-claro: #E3E3E3;
}

