@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/*:root{
    --vermelho:#400500;
    --branco: #FFF;
    --bege: #CEF2F2;
    --preto: #000;
    --vermelho-claro: #F2220F;
    --amarelo: #FFE500;

}*/

.container{
    display: flex;
    height: 100vh;
}

.parteGerente{
    display: flex;
    flex-direction:column;
    align-items: center;
    align-content: space-between;
    gap: 240px;

    width: 400px;  
    flex-shrink: 0; 
    background-color: var(--branco);
}

.parteGerente div{
    flex: 1;
}

.parteGerente h1{
    color: var(--preto);
    font-family: Outfit;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    margin-top: 37px;
    line-height: normal; 
}

.icon{
    width: 100px;
    height: 100px;  
    margin-top: 57px;
}
    
.divUsuario{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.divgerente{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.divgerente button{
    background-color: var(--vermelho-claro);
    color: var(--branco);
    border-radius: 54px;
    width: 170px;
    height: 50px;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;

}

.divgerente button:hover{
    background-color: var(--branco);
    color: var(--vermelho-claro);
    border: 1px solid var(--vermelho-claro);
    border-radius: 54px;
    width: 170px;
    height: 50px;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;

}

.divsair{
    display:flex;
    flex-direction:row;
    gap:10px;
}

.divsair p{
    color: var(--vermelho-claro);
    font-family: Outfit;
    margin-top: 5px;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.parteLista{
    width: 100vw;
    display: flex;
}

.parteLista h1{
    font-size: 24px;
    margin-bottom: 25px;;
}

.tabelaCabecalho{
    background-color: var(--vermelho-claro);
}

.linha:nth-child(even){
    background-color: rgb(250, 213, 213);
}

.linha:nth-child(odd){
    background-color: #f6f6f6;
}

.cabecalho{
    text-align: left;
    color: white;
    padding: 7px 10px;
    font-size: 20px;
    position: sticky;
    top: 0;
    background-color: var(--vermelho-claro);
}

.cabecalhoNumber{
    color: white;
    padding: 7px 10px;
    font-size: 20px;
    position: sticky;
    top: 0;
    background-color: var(--vermelho-claro);
    text-align: right;
}

.dados{
    padding: 5px 10px;
    color: rgb(63, 63, 63);
}

.dadosNumber{
    text-align: right;
    padding: 5px 10px;
    color: rgb(63, 63, 63);
    border-left: 1px solid rgb(63, 63, 63);
}

.containerLista{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: auto;
}

.containerLista h1{
    color: var(--preto);
    font-family: Outfit;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    margin-top: 37px;
    line-height: normal; 
}

.titulodash{
    margin-top: 17px;
    color: var(--preto);
    font-family: Outfit;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.financeiros{
    color: var(--vermelho-claro);
    border: 1px solid var(--vermelho-claro);
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    width: 366px;
    height: 163px;
    border-radius: 18px;
    padding: 22px;
    margin: 10px;
}

.financeiros:hover{
    color: var(--branco);
    background-color: var(--vermelho-claro);
    transition: 0.5s;
}

.financeiros H2{
    margin-top: 26px;
    font-size: 48px;
}

.topFinanceiro{
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.containerTable{
    width: 100vw;
    padding: 20px;
}

.tabelafinanceiro{
    width: 500px;
}

.dashboard{
    display: flex;
    flex-wrap: wrap;
    display: 10px;
}