@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/*:root{
    --vermelho:#400500;
    --branco: #FFF;
    --bege: #CEF2F2;
    --preto: #000;
    --vermelho-claro: #F2220F;
    --amarelo: #FFE500;

}*/

.container{
    display: flex;
    height: 100vh;
}

.telaFixa{
    width: 300px;
}

.parteGerente{
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--branco);

    width: 300px;  
    flex-shrink: 0; 
}

.parteGerente h1{
    color: var(--preto);
    font-family: Outfit;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    margin-top: 37px;
    line-height: normal; 
}

.icon{
    width: 70px;
    height: 70px;  
}
    
.divUsuario{
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 30px 10px 10px 10px;
}

.divgerente{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
}

.divgerente button{
    background-color: var(--vermelho-claro);
    color: var(--branco);
    border-radius: 54px;
    width: 170px;
    height: 50px;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.divgerente button:hover{
    background-color: var(--branco);
    color: var(--vermelho-claro);
    border: 1px solid var(--vermelho-claro);
    border-radius: 54px;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    transition: 0.5s;
}

.divgerente button:active{
    background-color: var(--vermelho-claro);
    color: var(--preto);
    border: 1px solid var(--preto);
}

.divsair{
    display:flex;
    flex-direction:row;
    gap:10px;
    margin: 10px 10px 20px 10px;
}

.divsair p{
    color: var(--vermelho-claro);
    font-family: Outfit;
    margin-top: 5px;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

@media screen and (max-width: 1400px){
    .telaFixa{
        width: 75px;
    }

    .parteGerente{
        width: 75px;
    }

    .divUsuario h1{
        display: none;
    }

    .icon{
        height: 35px;
        width: 35px;
    }


    .divgerente button{
        height: 35px;
        width: 35px;
    }

    .divgerente p{
        display: none;
    }

    .divsair p{
        display: none;
    }

    .divsair svg{
        height: 37px;
        width: 37px;
    }
}

.parteLista{
    width: 100vw;
    display: flex;
}

.parteLista h1{
    font-size: 24px;
    margin-bottom: 25px;;
}

.tabela{
    overflow: auto;
    height: 300px;
    max-width: 500px;
}

.tabelaCabecalho{
    background-color: var(--branco);
}

.linha:nth-child(even){
    background-color: var(--branco);
}

.linha:nth-child(odd){
    background-color: var(--branco);
}

.cabecalho{
    text-align: left;
    color: var(--preto);
    padding: 7px 10px;
    font-size: 18px;
    /*position: sticky;
    top: 0;
    */
    border: 1px solid black;
}

.dados{
    padding: 5px 10px;
    color: rgb(63, 63, 63);
    border: 1px solid black;
}

.dadosNumber{
    text-align: right;
    padding: 5px 10px;
    color: rgb(63, 63, 63);
    border: 1px solid black;
}

.containerLista{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: auto;
}

.containerLista h1{
    color: var(--preto);
    font-family: Outfit;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    margin-top: 37px;
    line-height: normal; 
}

.titulodash{
    margin-top: 17px;
    color: var(--preto);
    font-family: Outfit;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.financeiros{
    color: var(--vermelho-claro);
    border: 1px solid var(--vermelho-claro);
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    width: 366px;
    height: 163px;
    border-radius: 18px;
    padding: 22px;
    margin: 10px;
}

.financeiros:hover{
    color: var(--branco);
    background-color: var(--vermelho-claro);
    transition: 0.5s;
}

.financeiros H2{
    margin-top: 26px;
    font-size: 48px;
}

.topFinanceiro{
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.containerTable{
    padding: 20px;
}

.tabelafinanceiro{
    width: 500px;
}

.dashboard{
    display: flex;
    flex-wrap: wrap;
    display: 10px;
}